# Bỏ qua các thư mục build của Visual Studio / .NET
[Oo]bj/
[Bb]in/
.vs/
*.user
*.suo

# Bỏ qua các file chứa cấu hình Database cá nhân của từng người
appsettings.json
appsettings.Development.json
*.env
